
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.card-columns {
    padding: 10px;
    margin: 20px auto;
}

.card {
    width: 100%;
    border: 20px solid black;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 2.1rem;
    margin-bottom: 10px;
}

.card h5 {
    margin-top: 20px;
    font-size: 1.25rem;
    color: #007bff;
}

@media (min-width: 576px) {
   .card-columns {
        column-count: 3;
    }
}

@media (min-width: 768px) {
   .card-columns {
        column-count: 3;
    }
}
.card {
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
.card-title {
        font-size: 1.5rem;
        color: #4caf50;
    }
.card-text {
        font-size: 1.2rem;
    }
.congratulations {
        font-size: 1.8rem;
        color: #4caf50;
        margin-bottom: 20px;
    }
   .motivational {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
.retake-button {
        margin-top: 20px;
        font-size: 1.2rem;
    }
.center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        text-align: center;
    }

