{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form | LearnHub</title>
  <link rel="stylesheet" href="{% static 'DjangoQuiz/css/login.css' %}">
</head>
<body>
  <div class="wrapper">
    <form method="POST" action="">
      {% csrf_token %}
      <h2>Login</h2>
      <div class="input-field">
        {{ form.username }}
        {{ form.username.label_tag }}
        {{ form.username.errors }}
      </div>
      <div class="input-field">
        {{ form.password }}
        {{ form.password.label_tag }}
        {{ form.password.errors }}
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit">Log In</button>
      <div class="register">
        <p>Don't have an account? <a href='{% url 'register' %}'>Register</a></p>
      </div>
    </form>
  </div>
</body>
</html>
{% endblock %}
