{% extends 'Quiz/dependencies.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="main">
        <h2>Welcome to our Registration Page!</h2>
        <p>Please fill out the form below to create your account:</p>
        <form method="POST" action="" class="row">
            {% csrf_token %}
            <div class="col-md-12">
                <label for="id_username">Username:</label>
                {{ form.username }}
            </div>
            
            <div class="col-md-12">
                <label for="id_first_name">First Name:</label>
                {{ form.first_name }}
            </div>
            <div class="col-md-12">
                <label for="id_last_name">Last Name:</label>
                {{ form.last_name }}
            </div>
            <div class="col-md-12">
                <label for="id_email">Email:</label>
                {{ form.email }}
            </div>
            <div class="col-md-12">
                <label for="id_password1">Password:</label>
                {{ form.password1 }}
            </div>
            <div class="col-md-12">
                <label for="id_password2">Confirm Password:</label>
                {{ form.password2 }}
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-lg btn-success" type="submit">Register Account</button>
            </div>
        </form>
    </div>
</div>

<style>
    .main {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 20px;
        width: 600px;
        margin: 50px auto;
    }

    h2 {
        color: #4caf50;
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: #555;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    button[type="submit"] {
        padding: 15px;
        border-radius: 10px;
        border: none;
        background-color: #4caf50;
        color: white;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
    }
</style>
{% endblock %}
