{% load static %}

<style>
.greet {
    font-size: 18px;
    color: #fff;
    margin-right: 10px;
}

.navbar-custom {
    background-color: #A0937D;
}

@media (max-width: 768px) {
    .greet {
        font-size: 16px;
        margin-right: 5px;
    }
    .navbar-nav .nav-link {
        font-size: 16px;
        margin-right: 10px;
    }
}
</style>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between align-items-center" id="navbarNav">
    <div class="navbar-nav">
      {% if request.user.is_staff %}
        <!-- Staff user links -->
        <a class="nav-link" href="{% url 'home' %}">HOME</a>
        <a class="nav-link" href="{% url 'addQuestion' %}">ADD QUESTION</a>
      {% else %}
        <!-- Non-staff user links -->
        <a class="nav-link" href="{% url 'user_home' %}">HOME</a>
      {% endif %}
    </div>
    
    <div class="d-flex align-items-center">
      <span class="greet">Hello, {{ request.user }}</span>
      <span><a class="greet" href="{% url 'logout' %}">Logout</a></span>
    </div>
  </div>
</nav>
