{% extends 'Quiz/dependencies.html' %}

{% block title %}User Details and Quiz Attempts{% endblock %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance</title>
    <link rel="stylesheet" href="{% static 'DjangoQuiz/assets/css/user_list.css' %}">
</head>
<body>

    <section aria-labelledby="user-details">
        <h2 id="user-details">User Details</h2>
        <table role="table">
            <thead>
                <tr>
                    <th scope="col">Detail</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Average Score</td>
                    <td>{{ user_profile.calculate_average_score }}</td>
                </tr>
                <tr>
                    <td>Number of Tests Taken</td>
                    <td>{{ user_profile.num_tests_taken }}</td>
                </tr>
            </tbody>
        </table>
    </section>
    
    <section aria-labelledby="quiz-attempts">
        <h2 id="quiz-attempts">Quiz Attempts</h2>
        <table role="table">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for quiz in user_profile.quizzes_taken.all %}
                    <tr>
                        <td>{{ quiz.category }}</td>
                        <td>{{ quiz.score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

</body>
</html>
{% endblock %}
